/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body, * {
    margin: 0;
    padding: 0;
}

body, html {
    { overflow-x:hidden; }
}

/* ==========================================================================
   01 GENERAL STYLES
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
li,
.pa--li,
.pa-express-lane__button {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 2em;
    line-height: 1.636;
}

h5 {
   font-weight: 100; 
   font-size: 1.8em;
   line-height: 1.636;
}

h6 {
    font-weight: 800;
    font-size: .8em;
    color: #e75113;
    text-transform: uppercase;
}

h2 {
    font-weight: 100;
    font-size: 2.5em;
    color: #6d236f;
    margin-bottom: 1em;
}

h3 {
    font-weight: 800;
    font-size: 1.4em;
    color: #e75113;
    text-transform: uppercase;
}

p {
    font-size: 1em;
    line-height: 1.7;
}

.p--large {
    font-weight: 100; 
    font-size: 1.5em;
    line-height: 1.636;
    margin-bottom: 1.2em;
}

img {
    max-width: 100%;
    margin-bottom: 2em;
}

blockquote {
    font-weight: 100;
    font-size: 2.0em;
    color: purple;
    margin-bottom: 1em;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

.pa--li {
    list-style: circle;
    margin-left: 4em;
    color: #e75113;
    list-style-position: outside;
}

a {
    text-decoration: none;

}

a:focus {outline:0;}



.pa-a {
    color: #e75113;
    transition: all 3s cubic-bezier(.25,.8,.25,1);
}

.pa-a:hover {
    color: #6d236f;
}

/* ==========================================================================
   02 NAV
   ========================================================================== */

 .pa-scroll-to-top {
    display:none;
    width:100%;
    margin:0 auto;
    position: fixed;
    top: 0px;
    left:0px; 
 }
     .pa-scroll-to-top__button {
        position:absolute;
        top:0px;
        left:0px;
        background-color: rgba(105, 35, 111, 0.5);
        width: 100%;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        margin: 0 0 0 0;
        transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s; 
        font-family: 'Open Sans', sans-serif;      
     }
     .pa-scroll-to-top__button:hover {
        background-color: rgba(105, 35, 111, 0.3);
        transition: 0.5s;
        color: #fff;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;        
     }
    
    


/* ==========================================================================
   03 HEADER
   ========================================================================== */


.pa-hero__image {
    background-image: url(../img/social-entreprenuers-guide-main-image.jpg);
    height: 30em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

    .pa-hero__title-container {
        text-align: center;
        position: absolute;
        width: 100%;
        color: white; 
        height: auto;
        margin-top: 8em;
    }

    .pa-hero__title {
        color: #fff;
        font-size: 1.6em;
        font-weight: 800; 
        text-align: center;
        text-transform: uppercase;
        margin: .5em 1em;
    }


/* ==========================================================================
   04 MAIN CONTENT
   ========================================================================== */

   .pa-main-wrapper,
   .pa--checkpoint-wrapper {
        margin: 2em 10%;
        max-width: 75em;
        display: block;
   }

   .pa--checkpoint-wrapper {
        margin: 0 auto;
        background-color: #f4eff5;
   }

    /*04.1 INTRODUCTION-------*/


        .pa-introduction__list-button {
            list-style: none;
            margin: 1em auto;
            color: #6d236f;
            padding: .8em;
            border-left: .6rem solid #e75113;
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }

        .pa-introduction__list-button:hover {
            border-left: 1rem solid #e75113;
        }

    /*04.2 PARALLAX BACKGROUND IMAGES-------*/

    .pa-parallax-one {
        background: url('../img/Social_Entrepreneur_Climbing_a_Mountain.jpg') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        margin:  0;
        max-width: 100%;
    }

        .pa-parallax__quote-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto 15%;
            text-align: center;
            
        }
        
         .pa-parallax__quote-text {
            color: #fff;
            font-size: 1.5em;
            text-transform: uppercase;
            margin-bottom: 2em;
            margin-top: 2em;
        }

    .pa-parallax-pitstop-one,
    .pa-express-lane-wrapper {
        width: 100%;
        background-color: #6d236f;
        border-bottom: .6rem solid #e75113;
    }

        .pa-express-lane__header {
            text-align: center;
            color: #fff;
            font-weight: 100; 
            font-size: 1.8em;
            line-height: 1.636;
            margin-bottom: .5em;
            padding-top: 1.5em;
        }

        .pa-express-lane__subheader {
            text-align: center;
            color: #fff;
            margin-bottom: 1em;
            margin: 1em 1.5em;
        }

        .pa-express-lane__button-container {
            display: block;
            grid-gap: .25em 2em;
            margin: 2em 15%;
        }

        .pa-express-lane__button {
            text-align: center;
            color: #6d236f; 
            padding: 1em 1em;
            border: 2px solid #f4eff5;
            background: #f4eff5;
            outline-offset: -10px;
            cursor: hand;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        } 

        .pa-express-lane__button:hover {
            background-color: #6d236f;
            color: #fff;
        }


    .pa--quote-box {
        background-color: #f4eff5;
        padding: 2em;
        border-left: .6rem solid #6d236f;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        margin-bottom: 2em;
    }

    .pa--quote-box__p {
        font-size: 1.3em;
        color: #6d236f;
        font-style: italic;
        font-weight: 100;
        margin: 0;
    }

    .pa-from-the-field {
        background: url('../img/Abstract-Background-SocEnt-Guide.png') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        max-width: 100%;
    }
        .pa-from-the-field__contanier {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 10%;
        }

       .pa-from-the-field__text {
        margin-bottom: 2.5em;
       }

        .pa-from-the-field__title {
            margin: 1em auto;
            text-align: center;
            font-size: 3.5em;
            color: #6d236f;
            font-weight: 800;
            text-transform: uppercase;
        }
    .pa-video {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 3em;
    }

/* ==========================================================================
   05 FOOTER
   ========================================================================== */

/* ==========================================================================
   06 HELPERS / MODIFIERS
   ========================================================================== */
    .pa--dropshadow{
        box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.06);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .pa--dropshadow:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .pa--text-indent {
        margin-left: 0;
    }

    .article--margin-top,
    .section--margin-top {
        margin-top: 4em;
    }

    .article--margin-bottom,
    .section--margin-bottom {
        margin-bottom: 4em;
    }

    .pa--bonus-tip {
        color: #aaa;
        font-size: .8em;
    }

    .pa--bonus-articles {
        font-size: .8em;
    }

    .pa--bonus-tip__start {
        font-weight: 800;
        color: #6d236f;
    }

    .pa--light-purple-background {
        background-color: #f4eff5;
        padding-top: 5em;
    }

/* ==========================================================================
   CSS GRID.
   ========================================================================== */

   /*.wrapper {
    width: 97%;
    max-width: 1200px;
    margin: 0 auto;
    float: none;
    background: #fff;
    display: grid;
    grid-gap: 2%;
   }

   .r1c1,
   .ric2,
   .r1c3,
   .r1c4 {

   }*/


/* Mobile First Media Queries */

      /* Small devices (landscape phones, 576px and up) */
      @media (min-width: 576px) {
        .pa-hero__image {
            height: 24em;
        }

        .pa-hero__title-container {
            margin-top: 6.5em;
        }

        .pa-hero__title {
            margin: 1.5em;
        }

         .pa--text-indent {
            margin-left: 10%;
        }

      } 

      /* Medium devices (tablets, 768px and up) */
      @media (min-width: 768px) {
        .pa-hero__image {
            height: 24em;
        }

        .pa-hero__title-container {
            margin-top: 6.5em;
        }

        .pa-hero__title {
            margin: 1.5em;
        }

        blockquote {
            font-size: 2.5em;
        }

        .pa-parallax__quote-text {
            font-size: 2.5em;
        }

        .pa--quote-box__p {
            font-size: 2em;
        }

    }

      /* Large devices (desktops, 992px and up) */
      @media (min-width: 992px) {
        .pa-hero__image {
            height: 24em;
        }

        .pa-hero__title-container {
            margin-top: 3em;
        }

        .pa-hero__title {
            font-size: 3.5em;
            margin: 0 1.5em;
        }

        .pa-main-wrapper {
            margin: 5em 10%;
        }

        .pa-introduction {
            display: grid;
            grid-gap: 1em;
            grid-template-columns: repeat(4, 1fr); 
        }

        .p--large {
          font-size: 1.8em;
        }

        .pa-introduction__introduction {
            grid-column: 1 / 4;
        }

        .pa-introduction__guide-nav {
            grid-column: 4 / 5;
        }

        h2 {
            font-size: 3.5em;
        }

         blockquote {
            font-size: 3em;
        }

        .pa-parallax__quote-text {
            font-size: 3em;
        }

        .pa--quote-box {
            margin-bottom: 4em;
        }

          .pa-from-the-field__contanier {
            max-width: 70%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

            .pa-from-the-field__title-box {
                grid-column: 1 / 3;
            }

            .pa-from-the-field__text {
                grid-column: 3 / 5;
                margin-top: 5em;

            }

            .pa-from-the-field__title {
                font-size: 5em;
                border-top: 5px solid #6d236f;
                border-bottom: 5px solid #6d236f;
                width: 80%;
            }

        .pa-express-lane__button-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        .pa--b1a {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        .pa--b1b {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        .pa--b1c {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }
        .pa--b1d {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        .pa--b1e {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        .pa--b1f {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }
       
      }
      /* X-Large devices (desktops, 1200px and up) */
      @media (min-width: 1200px)  {
        .pa-hero__image {
            height: 44em;
        }

        .pa-hero__title-container {
            margin-top: 6.0em;
        }

        .pa-hero__title {
            font-size: 5em;
            margin: 1.5em;
        }

        .pa-main-wrapper {
            margin: 5em 12%;
        }


      }

      @media (min-width: 1440px)  {
        .pa-hero__image {
            height: 50em;
        }

        .pa-hero__title-container {
            margin-top: 6.5em;
        }

        .pa-hero__title {
            font-size: 5.2em;
            margin: 1.5em;
        }

        .pa-main-wrapper {
            margin: 5em 15%;
        }

         blockquote {
            font-size: 3.5em;
        }
        .pa-parallax__quote-text {
            font-size: 3.5em;
        }
      }
    
       


